.button-yellow{
    background-color: rgb(238,195,92);
    height: 2rem;
    width: 10em;
    color: white;
    font-size: 1.1rem;
    border-radius: 6px;
    margin: 1rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.button-white{
    background-color: rgb(255, 255, 255);
    height: 2rem;
    width: 10em;
    color: white;
    font-size: 1.1rem;
    border-radius: 6px;
    margin: 1rem;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
}