.products-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-around;
}
.categories-text{
    display:flex;
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: xx-large;
}