.product-card{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 20rem;
    width: 20rem;
    font-size: small;
    border: groove;
    background-color: rgb(255, 255, 255);
    border-radius: 10%;
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.product-card-sold-out{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 20rem;
    width: 20rem;
    font-size: small;
    border: groove;
    background-color: rgb(196,196,196);
    border-radius: 10%;
    margin-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.product-card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
img{
    align-self: center;
    max-height: 50%;
    max-width: 50%;
    margin: 1rem;
    border-radius: 10%;
    border: groove;
  }