@import url('https://fonts.googleapis.com/css?family=Poppins');
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Poppins';
}

.app-body{
  border-top: ridge;
  display: flex;
}
.cart-icon{
  display: flex;
  height: 2rem;
  width: 2rem;
  margin-right: 2rem;
  border-radius: 20%;
}
.header{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 4rem;
  display:flex;
  background: rgb(255, 255, 255);
  color: white;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
